<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
			<MaxCpuCount>1</MaxCpuCount>
            <TargetPlatform>x64</TargetPlatform>
            <TreatNoTestsAsError>true</TreatNoTestsAsError>
		</EnvironmentVariables>
    </RunConfiguration>
</RunSettings>